@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+IN:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
  letter-spacing: 2%;
  line-height: auto;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #575757;
}

a:hover {
  color: #DDA15E;
}

.where {
  color: #575757;
  font-size: 15px;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

h2 {
  line-height: 50px;
}

.text__for-name {
  text-align: center;
}

.text__name-two {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

h3 {
  color: #000000;
  font-size: 16px;
}

.info p {
  font-size: 15px;
  text-align: center;
  color: #000000;
  line-height: 30px;
}

button {
  font-size: 20px;
}

footer {
  font-size: 14px;
  line-height: 20px;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

.conteiner {
  width: 1520px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
}

header {
  background-color: #283618;
  width: 100%;
  display: flex;
  justify-content: center;
}
header .header-conteiner {
  height: 70px;
  display: grid;
  grid-template-columns: 100px 1fr minmax(auto, 745px) 1fr 100px;
  width: 1200px;
}
header .header-conteiner .menu {
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-top: 3px;
}
header .header-conteiner .menu .menu__logo {
  padding-top: 3px;
}
header .header-conteiner .menu li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}
header .header-conteiner .menu li a:hover {
  color: #DDA15E;
}
header .header-conteiner .shop {
  grid-column: 4/5;
  display: flex;
  justify-content: right;
  align-self: center;
}
header .header-conteiner .burger-menu summary {
  list-style: none;
}
header .header-conteiner .burger-icon {
  font-size: 32px;
  color: #ffffff;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 10px;
}
header .header-conteiner .burger-menu {
  display: none;
  grid-column: -2/-1;
}
header .header-conteiner .menu-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #283618;
  padding: 20px;
}
header .header-conteiner .menu-wrapper__li a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}
header .header-conteiner .menu-wrapper__li a:hover {
  color: #DDA15E;
}

img.shop__img:hover {
  filter: brightness(0) saturate(100%) invert(75%) sepia(30%) saturate(800%) hue-rotate(345deg) brightness(95%) contrast(90%);
}

.menu__logo:hover {
  filter: brightness(0) saturate(100%) invert(75%) sepia(30%) saturate(800%) hue-rotate(345deg) brightness(95%) contrast(90%);
}

footer {
  color: #000000;
  width: 100%;
  background-color: #D9D9D9;
  color: #ffffff;
  padding: 82px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .conteiner > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: inherit;
}
footer .conteiner > div .list-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  width: inherit;
}
footer .conteiner > div .list-footer .list-footer__icon {
  margin: 12px auto auto 25px;
  border-left: 0px solid #000000;
}
footer .conteiner > div .list-footer > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
footer .conteiner > div .list-footer > div ul > .email {
  -webkit-text-decoration: underline #575757;
          text-decoration: underline #575757;
}
footer .conteiner > div .list-footer h3 {
  color: #000000;
  font-size: 16px;
  padding: 0 0 0 50px;
  margin: 0;
}
footer .conteiner > div .list-footer li {
  color: #000000;
  font-size: 14px;
  padding: 0 0 0 50px;
}
footer .conteiner > div .list-footer li:first-of-type {
  padding-top: 25px;
}
footer .conteiner > div .list-footer ul {
  border-left: 1px solid #000000;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  height: 100%;
}
footer .conteiner > div .list-footer ul li > a:hover {
  color: #DDA15E;
}
footer .conteiner > div .list-footer ul > li > a {
  text-decoration: none;
  color: #000000;
}
footer .conteiner > div .list-footer ul > li > a span {
  display: none;
}
footer .conteiner > div .list-footer a {
  color: #000000;
}
footer .conteiner > div .inf-footer > p {
  color: #000000;
  padding-top: 55px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.about-ingridients, .story, .masterclass, .home-inf, .collection, .contact, .banner-collection, .error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-ingridients .conteiner, .story .conteiner, .masterclass .conteiner, .home-inf .conteiner, .collection .conteiner, .contact .conteiner, .banner-collection .conteiner, .error .conteiner {
  margin: 0;
  padding: 0;
}
.about-ingridients .conteiner .text, .story .conteiner .text, .masterclass .conteiner .text, .home-inf .conteiner .text, .collection .conteiner .text, .contact .conteiner .text, .banner-collection .conteiner .text, .error .conteiner .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  width: inherit;
}
.about-ingridients .conteiner .text .text__where, .story .conteiner .text .text__where, .masterclass .conteiner .text .text__where, .home-inf .conteiner .text .text__where, .collection .conteiner .text .text__where, .contact .conteiner .text .text__where, .banner-collection .conteiner .text .text__where, .error .conteiner .text .text__where {
  color: #575757;
  font-size: 15px;
  padding: 49px 0 31px 21px;
  text-align: left;
  align-self: flex-start;
}
.about-ingridients .conteiner .text hr, .story .conteiner .text hr, .masterclass .conteiner .text hr, .home-inf .conteiner .text hr, .collection .conteiner .text hr, .contact .conteiner .text hr, .banner-collection .conteiner .text hr, .error .conteiner .text hr {
  margin: 19px 180px;
}
.about-ingridients .conteiner .text .text__for-name, .story .conteiner .text .text__for-name, .masterclass .conteiner .text .text__for-name, .home-inf .conteiner .text .text__for-name, .collection .conteiner .text .text__for-name, .contact .conteiner .text .text__for-name, .banner-collection .conteiner .text .text__for-name, .error .conteiner .text .text__for-name {
  margin-bottom: 0;
  margin-top: 20px;
}
.about-ingridients .conteiner .text .info, .story .conteiner .text .info, .masterclass .conteiner .text .info, .home-inf .conteiner .text .info, .collection .conteiner .text .info, .contact .conteiner .text .info, .banner-collection .conteiner .text .info, .error .conteiner .text .info {
  width: 850px;
}
.about-ingridients .conteiner .text .info hr, .story .conteiner .text .info hr, .masterclass .conteiner .text .info hr, .home-inf .conteiner .text .info hr, .collection .conteiner .text .info hr, .contact .conteiner .text .info hr, .banner-collection .conteiner .text .info hr, .error .conteiner .text .info hr {
  margin: 19px 180px;
}
.about-ingridients .conteiner .text .info__inf-1, .story .conteiner .text .info__inf-1, .masterclass .conteiner .text .info__inf-1, .home-inf .conteiner .text .info__inf-1, .collection .conteiner .text .info__inf-1, .contact .conteiner .text .info__inf-1, .banner-collection .conteiner .text .info__inf-1, .error .conteiner .text .info__inf-1 {
  letter-spacing: 0.46px;
}
.about-ingridients .conteiner .text .info__inf-2, .story .conteiner .text .info__inf-2, .masterclass .conteiner .text .info__inf-2, .home-inf .conteiner .text .info__inf-2, .collection .conteiner .text .info__inf-2, .contact .conteiner .text .info__inf-2, .banner-collection .conteiner .text .info__inf-2, .error .conteiner .text .info__inf-2 {
  letter-spacing: 0.46px;
}

.about-ingridients {
  padding-bottom: 99px;
}
.about-ingridients .conteiner > .text .text__for-name {
  margin-top: 12px;
}
.about-ingridients .conteiner > .text .info {
  margin-top: 17px;
}
.about-ingridients .conteiner > .text .info p {
  line-height: 30px;
}
.about-ingridients .conteiner > .text .info .info__inf-1 {
  margin: 37px 0 25px;
}
.about-ingridients .conteiner > .text .info .info__inf-2 {
  margin: 40px 0 0;
}

.story {
  padding-bottom: 56px;
}
.story .conteiner > div .info hr {
  margin: 0 180px;
}
.story .conteiner > div .info hr:first-of-type {
  margin: 0 175px;
  margin-top: 31px;
}
.story .conteiner > div .info__inf-1 {
  margin-top: 40px;
}
.story .conteiner > div .info hr:last-of-type {
  margin: 30px 175px 40px;
}
.story .conteiner > div .info__inf-3 {
  margin-top: 15px;
  letter-spacing: 0.46px;
}

.home-inf {
  margin: 119px 0 270px;
}
.home-inf .conteiner .text hr {
  margin: 17px 180px;
}
.home-inf .conteiner .text__name-two {
  max-width: 473px;
  line-height: 40px;
}
.home-inf .conteiner .text .info__inf-1 {
  margin: 47px auto 20px;
}

.masterclass > .conteiner > .text .info__inf-1 {
  margin: 70px auto 0;
}
.masterclass > .conteiner > .text .info__inf-2 {
  margin-top: 0px;
}
.masterclass > .conteiner > .text .info hr:first-of-type {
  margin: 17px 180px 48px;
}

.masterclass > .conteiner:nth-of-type(3) > .text .info hr {
  margin: 50px 180px 30px;
}
.masterclass > .conteiner:nth-of-type(3) > .text .info p {
  letter-spacing: 0.01px;
}

.contact > .conteiner > .text h1 {
  padding: 3px 0 0;
}

.advantages {
  color: #ffffff;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #283618;
  width: 100%;
}
.advantages .advantages-conteiner {
  padding-top: 34px;
  padding-bottom: 27px;
  flex-direction: column;
  width: inherit;
}
.advantages .advantages-conteiner p {
  width: initial;
}
.advantages .advantages-conteiner__name-adv {
  font-size: 40px;
  text-align: center;
}
.advantages .advantages-conteiner__adv2 {
  padding-left: 55px;
}
.advantages .advantages-conteiner__adv4 {
  padding-left: 319px;
}
.advantages .advantages-conteiner__adv1 {
  text-align: right;
  padding-right: 76px;
}
.advantages .advantages-conteiner__adv3 {
  text-align: right;
  padding-right: 136px;
}

.craft {
  display: flex;
  justify-content: center;
  align-items: center;
}
.craft .conteiner {
  flex-direction: column;
  margin-bottom: 40px;
}
.craft .conteiner .one, .craft .conteiner .two {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
  width: 100%;
}
.craft .conteiner .one__text, .craft .conteiner .two__text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
}
.craft .conteiner .one__text h2, .craft .conteiner .two__text h2 {
  line-height: 35px;
}
.craft .conteiner .one__text .list-craft, .craft .conteiner .two__text .list-craft {
  max-width: 600px;
  line-height: 30px;
}
.craft .conteiner .one__text hr, .craft .conteiner .two__text hr {
  width: 70%;
  margin: 40px auto;
}
.craft .conteiner .one__photo, .craft .conteiner .two__photo {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 170px);
  gap: 10px;
  margin: 10px;
}
.craft .conteiner .one__photo > div, .craft .conteiner .two__photo > div {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
.craft .conteiner .one .one__photo > div:nth-of-type(1), .craft .conteiner .two .one__photo > div:nth-of-type(1) {
  grid-column: 1/-1;
  grid-row: 1/3;
  background-image: url(../img/ing_1_1.png);
}
.craft .conteiner .one .one__photo > div:nth-of-type(2), .craft .conteiner .two .one__photo > div:nth-of-type(2) {
  grid-row: -3/-1;
  background-image: url(../img/ing_1_2.png);
}
.craft .conteiner .one .one__photo > div:nth-of-type(3), .craft .conteiner .two .one__photo > div:nth-of-type(3) {
  background-image: url(../img/ing_1_3.png);
}
.craft .conteiner .one .one__photo > div:nth-of-type(4), .craft .conteiner .two .one__photo > div:nth-of-type(4) {
  background-image: url(../img/ing_1_4.png);
}
.craft .conteiner .one .two__photo, .craft .conteiner .two .two__photo {
  margin-right: 10px;
  margin-top: 0px;
  padding-bottom: 0px;
}
.craft .conteiner .one .two__photo > div:nth-of-type(1), .craft .conteiner .two .two__photo > div:nth-of-type(1) {
  grid-column: 1/-1;
  grid-row: -1/-3;
  background-image: url(../img/ing_2_1.png);
}
.craft .conteiner .one .two__photo > div:nth-of-type(2), .craft .conteiner .two .two__photo > div:nth-of-type(2) {
  grid-row: 1/3;
  background-image: url(../img/ing_2_2.png);
}
.craft .conteiner .one .two__photo > div:nth-of-type(3), .craft .conteiner .two .two__photo > div:nth-of-type(3) {
  background-image: url(../img/ing_2_3.png);
}
.craft .conteiner .one .two__photo > div:nth-of-type(4), .craft .conteiner .two .two__photo > div:nth-of-type(4) {
  background-image: url(../img/ing_2_4.png);
}

.one__text {
  padding-top: 120px;
  margin-top: 20px;
  margin-left: 15px;
}
.one__text ol {
  padding-left: 60px;
}

.two__text {
  padding-top: 50px;
  padding-left: 25px;
  letter-spacing: 0.3px;
  line-height: 25px;
}

.name-two {
  font-weight: 400;
  text-align: center;
  font-size: 31px;
}

.comments {
  display: flex;
  justify-content: center;
  align-items: center;
}
.comments .conteiner > div {
  margin: 167px 165px;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 350px));
  gap: 70px;
}
.comments .conteiner > div .comment {
  height: 100%;
  display: grid;
  grid-template-rows: 30px 1fr 30px;
  border: solid 1px #283618;
  padding: 15px 30px 20px;
}
.comments .conteiner > div .comment > p, .comments .conteiner > div .comment div {
  width: 100%;
}
.comments .conteiner > div .comment .comment__name {
  text-align: center;
  font-size: 20px;
}
.comments .conteiner > div .comment .comment__text {
  text-align: left;
  line-height: 30px;
  padding: 0;
  max-height: 110px;
}
.comments .conteiner > div .comment .comment__star {
  padding: 0 0;
}

.masterclass-photo {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 3fr;
  grid-template-rows: repeat(2, 170px);
  gap: 10px;
  width: 99%;
}
.masterclass-photo div {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
.masterclass-photo div:nth-of-type(1) {
  grid-row: 1/-1;
  background-image: url(../img/masterclass_1.png);
}
.masterclass-photo div:nth-of-type(2) {
  grid-row: 1/2;
  grid-column: 2/4;
  background-image: url(../img/masterclass_2.png);
}
.masterclass-photo div:nth-of-type(3) {
  grid-row: -2/-1;
  background-image: url(../img/masterclass_3.png);
}
.masterclass-photo div:nth-of-type(4) {
  grid-row: -2/-1;
  background-image: url(../img/masterclass_4.png);
}
.masterclass-photo div:nth-of-type(5) {
  grid-row: 1/-1;
  background-image: url(../img/masterclass_5.png);
}

button {
  padding: 13px 50px 13px 55px;
  color: #ffffff;
  background-color: #DDA15E;
  border: 0px solid;
  text-align: left;
}

button:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

button:active {
  opacity: 0.8;
}

.masterclass > .conteiner > .text button {
  margin-top: 56px;
  margin-bottom: 177px;
  padding: 13px 71px 13px 72px;
  margin-right: 28px;
}

.sekr > .text > button {
  padding: 13px 40px 13px 39px;
  margin-top: 70px;
}

.banner-contact > .conteiner > .text > .button_btn {
  padding: 13px 44px 13px 45px;
  letter-spacing: 0.3px;
}

.banner-collection > .conteiner > .text > .button_btn {
  padding: 13px 74px 13px 75px;
}

.contact-form > .conteiner > form > button {
  padding: 13px 62px 13px 62px;
  width: 200px;
  margin-bottom: 118px;
  margin-top: 34px;
}

.error > .conteiner > .text > button {
  margin-top: 50px;
}

.banner, .banner-contact, .banner_collection {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.banner .conteiner .text, .banner-contact .conteiner .text, .banner_collection .conteiner .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 211px auto auto;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner .conteiner .text__main-name, .banner-contact .conteiner .text__main-name, .banner_collection .conteiner .text__main-name {
  margin: 20px auto;
  color: #ffffff;
  line-height: 59px;
  letter-spacing: 2%;
}

.banner {
  height: 730px;
  background-image: url(../img/back_start.png);
}
.banner .conteiner .text {
  justify-content: center;
}
.banner .conteiner .text__main-name {
  max-width: 617px;
}
.banner .conteiner .text .button__btn {
  margin-top: 55px;
}

.banner-contact {
  height: 800px;
  background-image: url(../img/back_contacts.png);
}
.banner-contact .conteiner .text {
  margin: 150px auto 0;
}
.banner-contact .conteiner .text h2 {
  font-weight: normal;
  font-size: 32px;
  max-width: 500px;
  line-height: 39px;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.47px;
}
.banner-contact .conteiner .text p {
  line-height: 30px;
  max-width: 850px;
}
.banner-contact .conteiner .text button {
  margin-top: 90px;
}

.banner-collection {
  height: 800px;
  background-image: url(../img/back_collection.png);
  justify-content: start;
  color: #ffffff;
  width: 100%;
}
.banner-collection .conteiner .text {
  margin-top: 147px;
}
.banner-collection .conteiner .text p {
  max-width: 850px;
  line-height: 32px;
  font-size: 15px;
}
.banner-collection .conteiner .text h2 {
  max-width: 500px;
  text-align: center;
  line-height: 32px;
}
.banner-collection .conteiner .text .text__for-name {
  margin-top: 30px;
}
.banner-collection .conteiner .text button {
  margin-top: 90px;
}

.servis {
  display: flex;
  justify-content: center;
  align-items: center;
}
.servis .conteiner .services {
  width: inherit;
  display: grid;
  grid-template-columns: 9fr 9fr 19fr;
  grid-template-rows: repeat(2, 400px);
  gap: 10px;
}
.servis .conteiner .services a {
  background-position: top;
  background-repeat: no-repeat;
}
.servis .conteiner .services a div {
  padding: 20px;
  height: 100%;
}
.servis .conteiner .services a p {
  color: #ffffff;
}
.servis .conteiner .services a:nth-of-type(1) {
  grid-row: 1/2;
  grid-column: 1/3;
  background-image: url(../img/card_1.png);
}
.servis .conteiner .services a:nth-of-type(2) {
  grid-row: -1/-2;
  grid-column: 1/2;
  background-image: url(../img/card_2.png);
}
.servis .conteiner .services a:nth-of-type(3) {
  grid-row: -1/-2;
  grid-column: 2/3;
  background-image: url(../img/card_3.png);
}
.servis .conteiner .services a:nth-of-type(4) {
  grid-row: 1/-1;
  grid-column: -2/-1;
  background-image: url(../img/card_4.png);
}
.servis .conteiner .services .card__nazv {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}
.servis .conteiner .services .card__inf {
  font-size: 14px;
  -webkit-text-decoration: underline #ffffff;
          text-decoration: underline #ffffff;
}
.servis .conteiner .services .card:hover p {
  color: #000000;
  -webkit-text-decoration: underline #000000;
          text-decoration: underline #000000;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo .conteiner > div {
  width: 100%;
  height: 300px;
  background-size: auto;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url(../img/img_up.png), url(../img/img_down.png);
}

.secrets {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}
.secrets .conteiner .sekr {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
.secrets .conteiner .sekr .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  margin-top: 143px;
}
.secrets .conteiner .sekr .text p {
  letter-spacing: 0.5px;
  max-width: 600px;
}
.secrets .conteiner .sekr .text p:first-of-type {
  margin: 0 auto 15px;
}
.secrets .conteiner .sekr .text hr {
  width: 80%;
  margin: 15px auto 50px;
}
.secrets .conteiner .sekr .text .btn_button {
  margin-top: 70px;
}
.secrets .conteiner .sekr .photo {
  margin: auto 0 auto 10px;
  height: 800px;
  display: grid;
  grid-template-rows: 7fr 4fr;
  grid-template-columns: 1fr;
  gap: 10px;
}
.secrets .conteiner .sekr .photo div {
  letter-spacing: 0.46px;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
.secrets .conteiner .sekr .photo div:nth-of-type(1) {
  background-image: url(../img/secrets_1.png);
}
.secrets .conteiner .sekr .photo div:nth-of-type(2) {
  margin-bottom: 5px;
  background-image: url(../img/secrets_2.png);
}

.assortiment {
  margin: 67px 0 136px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.assortiment .conteiner .assort {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.assortiment .conteiner .assort a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.assortiment .conteiner .assort a div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 1;
  height: 400px;
  width: 350px;
}
.assortiment .conteiner .assort a p {
  color: #ffffff;
  font-size: 32px;
  text-align: center;
}
.assortiment .conteiner .assort a:nth-of-type(1) {
  background-image: url(../img/kart_1.png);
}
.assortiment .conteiner .assort a:nth-of-type(2) {
  background-image: url(../img/kart_2.png);
}
.assortiment .conteiner .assort a:nth-of-type(3) {
  background-image: url(../img/kart_3.png);
}
.assortiment .conteiner .assort a:nth-of-type(4) {
  background-image: url(../img/kart_4.png);
}
.assortiment .conteiner .assort a:hover {
  filter: brightness(75%);
}
.assortiment .conteiner .assort .card__nazv {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.assortiment .conteiner .assort .card__inf {
  font-size: 14px;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 90px 0 0;
}
.contact-form .conteiner .contact-form__form {
  margin-left: 260px;
  margin-right: 260px;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.contact-form .conteiner .contact-form__row {
  display: flex;
  gap: 100px;
}
.contact-form .conteiner .contact-form__row:nth-of-type(2) {
  margin-top: 18px;
}
.contact-form .conteiner .contact-form__row--full {
  flex-direction: column;
  margin-top: 25px;
}
.contact-form .conteiner .contact-form__group {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.contact-form .conteiner .contact-form__group label {
  font-size: 15px;
  color: #575757;
  margin-bottom: 5px;
  margin-top: 5px;
}
.contact-form .conteiner .contact-form__group span {
  color: #DDA15E;
}
.contact-form .conteiner .contact-form__group input,
.contact-form .conteiner .contact-form__group textarea {
  margin-top: 6px;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 6px 0;
  font-size: 15px;
  outline: none;
  background: transparent;
  resize: none;
}
.contact-form .conteiner .contact-form__group textarea {
  margin-top: 20px;
}

.story-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.story-photo .conteiner > div {
  width: inherit;
  display: grid;
  grid-template-columns: 0px 11fr 23fr 12fr 0px;
  grid-template-rows: repeat(2, 170px);
  gap: 10px;
}
.story-photo .conteiner > div div {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
.story-photo .conteiner > div div:nth-of-type(1) {
  grid-row: 1/-1;
  grid-column: 2/3;
  background-image: url(../img/story_1.png);
}
.story-photo .conteiner > div div:nth-of-type(2) {
  grid-row: 1/-1;
  grid-column: 3/4;
  background-image: url(../img/story_2.png);
}
.story-photo .conteiner > div div:nth-of-type(3) {
  grid-column: 4/5;
  background-image: url(../img/story_3.png);
}
.story-photo .conteiner > div div:nth-of-type(4) {
  grid-column: 4/5;
  background-image: url(../img/story_4.png);
}

.error {
  width: 100%;
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/error.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
}
.error h1 {
  color: #ffffff;
}

@media (min-width: 1200px) and (max-width: 1520px) {
  .conteiner {
    width: 1200px;
  }
  .assort {
    width: inherit;
    flex-wrap: wrap;
  }
  .assort a {
    min-width: 540px;
    flex-grow: 1;
    gap: auto;
  }
  .comments {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .comments .conteiner > div {
    margin: 167px 50px;
  }
  .contact-form .conteiner .contact-form__form {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199.99px) {
  .conteiner {
    width: 990px;
  }
  footer .conteiner div {
    margin: 10px;
  }
  header .conteiner > div {
    grid-template-columns: 100px 1fr minmax(auto, 700px) 1fr 100px;
  }
  .assort {
    width: inherit;
    flex-wrap: wrap;
    gap: auto;
  }
  .assort a {
    min-width: 450px;
    flex-grow: 1;
    gap: auto;
  }
  .secrets > .conteiner > .sekr .text {
    margin-top: 50px;
  }
  .secrets > .conteiner > .sekr .text p {
    max-width: 420px;
  }
  footer > .conteiner > .footer-conteiner > .list-footer > div > ul li {
    padding: 0 0 0 20px;
  }
  .comments {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .comments .conteiner > div {
    margin: 167px 50px;
    flex-wrap: wrap;
  }
  .comments .conteiner > div .comment .comment__text {
    min-height: 170px;
  }
  .contact-form .conteiner .contact-form__form {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .servis > .conteiner > .services {
    grid-template-rows: repeat(2, 200px);
  }
  footer .conteiner div {
    margin: 10px;
  }
  .comments {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .comments .conteiner > div {
    margin: 167px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .comments .conteiner > div .comment .comment__text {
    min-height: 120px;
  }
  footer > .conteiner > div > .list-footer > .list-footer__icon {
    display: none;
  }
  footer > .conteiner > div > .list-footer > .list-footer__menu > ul {
    border: 0px;
  }
  .sekr > .text > .button > button {
    margin-top: 20px;
  }
  .about-ingridients .conteiner > .text .info, .story .conteiner > .text .info, .masterclass .conteiner > .text .info, .home-inf .conteiner > .text .info, .collection .conteiner > .text .info, .contact .conteiner > .text .info, .banner-collection .conteiner > .text .info, .error .conteiner > .text .info {
    width: 700px;
  }
  .craft > .conteiner > .one > .one__text {
    padding-top: 0px;
  }
  .header > .conteiner > .header-conteiner > .shop, .header > .conteiner > .header-conteiner {
    width: inherit;
    grid-template-columns: 100px 1fr 100px;
  }
  .header > .conteiner > .header-conteiner > .shop .menu, .header > .conteiner > .header-conteiner .menu {
    display: none;
  }
  .header > .conteiner > .header-conteiner > .shop .shop, .header > .conteiner > .header-conteiner .shop {
    display: none;
  }
  .header > .conteiner > .header-conteiner > .burger-menu {
    display: inline;
    height: initial;
    position: absolute;
  }
  .header > .conteiner > .header-conteiner > .burger-menu li {
    list-style: none;
  }
  .menu__logo {
    width: 120px;
    display: inline;
    margin: 0 auto;
  }
  .conteiner {
    width: 750px;
  }
  .about_ingridients > .conteiner > .info {
    width: 750px;
  }
  .about_ingridients > .conteiner > .info .info__inf_1 {
    width: 750px;
  }
  .about_ingridients > .conteiner > .info .info__inf_2 {
    width: 750px;
  }
  .craft > .conteiner > .one .one_text {
    padding-top: 50px;
    width: 50%;
  }
  .craft > .conteiner > .one .one_text .list_craft {
    width: 300px;
  }
  .craft > .conteiner > .one .one_text hr {
    margin: 30px 20px;
  }
  .craft > .conteiner > .two .two_text {
    padding-top: 0px;
    width: 50%;
  }
  .craft > .conteiner > .two .two_text .list_craft {
    width: 300px;
  }
  .craft > .conteiner > .two .two_text hr {
    margin: 30px 20px;
  }
  .assort {
    justify-content: space-around;
    gap: 50px;
    max-width: 750px;
    flex-wrap: wrap;
  }
  header .container .menu li a {
    font-size: 15px;
  }
  footer {
    padding: 10px 0 10px 0;
  }
  footer .conteiner .list_footer div {
    justify-content: center;
    padding-bottom: 0;
  }
  footer .conteiner .list_footer .list_footer__icon img {
    height: 50px;
  }
  footer .conteiner .list_footer div ul {
    display: none;
  }
  .secrets > .conteiner > .sekr .text {
    margin-top: 20px;
  }
  .secrets > .conteiner > .sekr .text p {
    max-width: 320px;
  }
  .secrets > .conteiner > .sekr .text .button_btn {
    margin-top: 30px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .servis > .conteiner > .services {
    grid-template-rows: repeat(2, 200px);
  }
  .craft .conteiner .one__photo, .craft .conteiner .two__photo {
    display: none;
  }
  .craft .conteiner .one__text, .craft .conteiner .two__text {
    width: inherit;
    margin: 50px 10px 0;
  }
  .story-photo .conteiner > div {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 170px);
  }
  .story-photo .conteiner > div div:nth-of-type(1) {
    grid-row: 1/2;
    grid-column: -1/1;
  }
  .story-photo .conteiner > div div:nth-of-type(2) {
    grid-row: 2/4;
    grid-column: -1/1;
  }
  .story-photo .conteiner > div div:nth-of-type(3) {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .story-photo .conteiner > div div:nth-of-type(4) {
    grid-row: 4/5;
    grid-column: -1/-2;
  }
  footer > .conteiner > div > .list-footer > .list-footer__contacts {
    width: 200px;
  }
  footer > .conteiner > div > .list-footer > .list-footer__contacts .list-footer__ul > li a.email:first-of-type {
    display: none;
  }
  footer > .conteiner > div > .list-footer > .list-footer__contacts .list-footer__ul > li a.email span {
    display: inline;
  }
  footer > .conteiner > div > .list-footer > .list-footer__menu {
    width: 200px;
  }
  footer .conteiner div {
    margin: 10px;
  }
  .comments {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .comments .conteiner > div {
    margin: 167px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .comments .conteiner > div .comment .comment__text {
    min-height: 120px;
  }
  footer {
    display: flex;
    justify-content: center;
  }
  footer .conteiner > div > .list-footer > .list-footer__icon {
    display: none;
  }
  footer > .conteiner > div > .list-footer > .list-footer__partners {
    display: none;
  }
  footer > .conteiner > div > .list-footer > .list-footer__menu > ul {
    border: 0px;
  }
  .sekr > .text > .button > button {
    margin-top: 20px;
  }
  .about-ingridients .conteiner > .text .info, .story .conteiner > .text .info, .masterclass .conteiner > .text .info, .home-inf .conteiner > .text .info, .collection .conteiner > .text .info, .contact .conteiner > .text .info, .banner-collection .conteiner > .text .info, .error .conteiner > .text .info {
    width: 400px;
  }
  .craft > .conteiner > .one > .one__text {
    padding-top: 0px;
  }
  .header > .conteiner > .header-conteiner > .shop, .header > .conteiner > .header-conteiner {
    width: inherit;
    grid-template-columns: 100px 1fr 100px;
  }
  .header > .conteiner > .header-conteiner > .shop .menu, .header > .conteiner > .header-conteiner .menu {
    display: none;
  }
  .header > .conteiner > .header-conteiner > .shop .shop, .header > .conteiner > .header-conteiner .shop {
    display: none;
  }
  .header > .conteiner > .header-conteiner > .burger-menu {
    display: inline;
    height: initial;
    position: absolute;
  }
  .header > .conteiner > .header-conteiner > .burger-menu li {
    list-style: none;
  }
  .menu__logo {
    width: 120px;
    display: inline;
    margin: 0 auto;
  }
  .conteiner {
    width: 450px;
  }
  .about_ingridients > .conteiner > .info {
    width: 450px;
  }
  .about_ingridients > .conteiner > .info .info__inf_1 {
    width: 450px;
  }
  .about_ingridients > .conteiner > .info .info__inf_2 {
    width: 450px;
  }
  .advantages {
    display: none;
  }
  .craft > .conteiner > .one .one_text {
    padding-top: 50px;
    width: 50%;
  }
  .craft > .conteiner > .one .one_text .list_craft {
    width: 300px;
  }
  .craft > .conteiner > .one .one_text hr {
    margin: 30px 20px;
  }
  .craft > .conteiner > .two .two_text {
    padding-top: 0px;
    width: 50%;
  }
  .craft > .conteiner > .two .two_text .list_craft {
    width: 300px;
  }
  .craft > .conteiner > .two .two_text hr {
    margin: 30px 20px;
  }
  .assort {
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    width: inherit;
    flex-wrap: wrap;
  }
  .assort a {
    width: inherit;
  }
  header .container .menu li a {
    font-size: 15px;
  }
  footer {
    padding: 10px 0 10px 0;
  }
  footer .conteiner .list_footer div {
    justify-content: center;
    padding-bottom: 0;
  }
  footer .conteiner .list_footer .list_footer__icon img {
    height: 50px;
  }
  footer .conteiner .list_footer div ul {
    display: none;
  }
  .secrets > .conteiner > .sekr .text {
    margin-top: 20px;
  }
  .secrets > .conteiner > .sekr .text p {
    max-width: 320px;
  }
  .secrets > .conteiner > .sekr .text ._button {
    margin-top: 10px;
  }
  .secrets > .conteiner > .sekr {
    display: block;
  }
  .secrets > .conteiner > .sekr .photo {
    display: none;
  }
  .secrets > .conteiner > .sekr .text {
    width: inherit;
    margin-bottom: 50px;
  }
  .masterclass-photo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 170px);
    gap: 10px;
    width: 99%;
  }
  .masterclass-photo div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
  }
  .masterclass-photo div:nth-of-type(1) {
    grid-row: 1/3;
    background-image: url(../img/masterclass_1.png);
  }
  .masterclass-photo div:nth-of-type(2) {
    grid-row: 1/2;
    grid-column: 2/3;
    background-image: url(../img/masterclass_2.png);
    background-size: cover;
  }
  .masterclass-photo div:nth-of-type(3) {
    grid-row: 2/3;
    grid-column: 2/3;
    background-image: url(../img/masterclass_3.png);
  }
  .masterclass-photo div:nth-of-type(4) {
    grid-row: 2/3;
    grid-column: 2/3;
    background-image: url(../img/masterclass_4.png);
  }
  .masterclass-photo div:nth-of-type(5) {
    grid-row: -3/-1;
    grid-column: 1/-1;
    background-image: url(../img/masterclass_5.png);
  }
  .servis {
    display: flex;
    justify-content: center;
  }
  .servis .conteiner > .services {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 400px);
  }
  .servis .conteiner > .services a:nth-of-type(1) {
    grid-row: 1/2;
    grid-column: 1/-1;
  }
  .servis .conteiner > .services a:nth-of-type(2) {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .servis .conteiner > .services a:nth-of-type(3) {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .servis .conteiner > .services a:nth-of-type(4) {
    grid-row: -1/-2;
    grid-column: 1/-1;
  }
  .servis .conteiner > .services a {
    background-size: cover;
  }
}
@media (max-width: 480px) {
  .servis > .conteiner > .services {
    grid-template-rows: repeat(2, 200px);
  }
  footer > .conteiner > div > .list-footer > .list-footer__contacts {
    width: 120px;
  }
  footer > .conteiner > div > .list-footer > .list-footer__contacts .list-footer__ul > li a.email:first-of-type {
    display: none;
  }
  footer > .conteiner > div > .list-footer > .list-footer__contacts .list-footer__ul > li a.email span {
    display: inline;
  }
  footer > .conteiner > div > .list-footer > .list-footer__menu {
    width: 120px;
  }
  footer .conteiner div {
    margin: 10px;
  }
  .comments {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .comments .conteiner > div {
    margin: 167px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .comments .conteiner > div .comment .comment__text {
    min-height: 200px;
  }
  footer > .conteiner > div > .list-footer > .list-footer__icon {
    display: none;
  }
  footer > .conteiner > div > .list-footer > .list-footer__partners {
    display: none;
  }
  footer > .conteiner > div > .list-footer > .list-footer__contacts {
    max-width: 120px;
  }
  footer > .conteiner > div > .list-footer > .list-footer__contacts .list-footer__ul > li a.email {
    width: 100px;
  }
  footer > .conteiner > div > .list-footer > .list-footer__menu {
    width: 120px;
  }
  footer > .conteiner > div > .list-footer > .list-footer__menu > ul {
    border: 0px;
  }
  .sekr > .text > .button > button {
    margin-top: 20px;
  }
  .about-ingridients .conteiner > .text .info, .story .conteiner > .text .info, .masterclass .conteiner > .text .info, .home-inf .conteiner > .text .info, .collection .conteiner > .text .info, .contact .conteiner > .text .info, .banner-collection .conteiner > .text .info, .error .conteiner > .text .info {
    width: 300px;
  }
  .craft > .conteiner > .one > .one__text {
    padding-top: 0px;
  }
  .header > .conteiner > .header-conteiner > .shop, .header > .conteiner > .header-conteiner {
    width: inherit;
    grid-template-columns: 100px 1fr 100px;
  }
  .header > .conteiner > .header-conteiner > .shop .menu, .header > .conteiner > .header-conteiner .menu {
    display: none;
  }
  .header > .conteiner > .header-conteiner > .shop .shop, .header > .conteiner > .header-conteiner .shop {
    display: none;
  }
  .header > .conteiner > .header-conteiner > .burger-menu {
    display: inline;
    height: initial;
    position: absolute;
  }
  .header > .conteiner > .header-conteiner > .burger-menu li {
    list-style: none;
  }
  .menu__logo {
    width: 120px;
    display: inline;
    margin: 0 auto;
  }
  .conteiner {
    width: 300px;
  }
  .about_ingridients > .conteiner > .info {
    width: 300px;
  }
  .about_ingridients > .conteiner > .info .info__inf_1 {
    width: 300px;
  }
  .about_ingridients > .conteiner > .info .info__inf_2 {
    width: 300px;
  }
  .advantages {
    display: none;
  }
  .craft > .conteiner > .one .one_text {
    padding-top: 50px;
    width: 50%;
  }
  .craft > .conteiner > .one .one_text .list_craft {
    width: 300px;
  }
  .craft > .conteiner > .one .one_text hr {
    margin: 30px 20px;
  }
  .craft > .conteiner > .two .two_text {
    padding-top: 0px;
    width: 50%;
  }
  .craft > .conteiner > .two .two_text .list_craft {
    width: 300px;
  }
  .craft > .conteiner > .two .two_text hr {
    margin: 30px 20px;
  }
  .assort {
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    width: inherit;
    flex-wrap: wrap;
  }
  .assort a {
    width: inherit;
  }
  header .container .menu li a {
    font-size: 15px;
  }
  footer {
    padding: 10px 0 10px 0;
  }
  footer .conteiner .list_footer div {
    justify-content: center;
    padding-bottom: 0;
  }
  footer .conteiner .list_footer .list_footer__icon img {
    height: 50px;
  }
  footer .conteiner .list_footer div ul {
    display: none;
  }
  .secrets > .conteiner > .sekr .text {
    margin-top: 20px;
  }
  .secrets > .conteiner > .sekr .text p {
    max-width: 320px;
  }
  .secrets > .conteiner > .sekr .text .button_btn {
    margin-top: 10px;
  }
  footer > .conteiner > .footer-conteiner > .list-footer div .list-footer__name {
    width: inherit;
    text-align: center;
    padding-left: 0;
  }
  footer > .conteiner > .footer-conteiner > .list-footer div ul li {
    padding: 0 0 0 20px;
  }
  footer > .conteiner > .footer-conteiner > .list-footer div:nth-of-type(2) ul li {
    padding: 0;
  }
  .home-inf {
    margin: 50px auto;
  }
  .secrets > .conteiner > .sekr {
    display: block;
  }
  .secrets > .conteiner > .sekr .photo {
    display: none;
  }
  .secrets > .conteiner > .sekr .text {
    width: inherit;
    margin-bottom: 50px;
  }
  footer {
    display: flex;
    justify-content: center;
  }
  footer .conteiner > div {
    display: flex;
    justify-content: center;
  }
  .masterclass-photo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 170px);
    gap: 10px;
    width: 99%;
  }
  .masterclass-photo div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
  }
  .masterclass-photo div:nth-of-type(1) {
    grid-row: 1/3;
    background-image: url(../img/masterclass_1.png);
  }
  .masterclass-photo div:nth-of-type(2) {
    grid-row: 1/2;
    grid-column: 2/3;
    background-image: url(../img/masterclass_2.png);
    background-size: cover;
  }
  .masterclass-photo div:nth-of-type(3) {
    grid-row: 2/3;
    grid-column: 2/3;
    background-image: url(../img/masterclass_3.png);
  }
  .masterclass-photo div:nth-of-type(4) {
    grid-row: 2/3;
    grid-column: 2/3;
    background-image: url(../img/masterclass_4.png);
  }
  .masterclass-photo div:nth-of-type(5) {
    grid-row: -3/-1;
    grid-column: 1/-1;
    background-image: url(../img/masterclass_5.png);
  }
  .servis > .conteiner > .services {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 400px);
  }
  .servis > .conteiner > .services a:nth-of-type(1) {
    grid-row: 1/2;
    grid-column: 1/-1;
  }
  .servis > .conteiner > .services a:nth-of-type(2) {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .servis > .conteiner > .services a:nth-of-type(3) {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .servis > .conteiner > .services a:nth-of-type(4) {
    grid-row: -1/-2;
    grid-column: 1/-1;
  }
  .servis > .conteiner > .services a {
    background-size: cover;
  }
  .craft .conteiner .one__photo, .craft .conteiner .two__photo {
    display: none;
  }
  .craft .conteiner .one__text, .craft .conteiner .two__text {
    width: inherit;
    margin: 50px 10px 0;
  }
  .story-photo .conteiner > div {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 170px);
  }
  .story-photo .conteiner > div div:nth-of-type(1) {
    grid-row: 1/2;
    grid-column: -1/1;
  }
  .story-photo .conteiner > div div:nth-of-type(2) {
    grid-row: 2/4;
    grid-column: -1/1;
  }
  .story-photo .conteiner > div div:nth-of-type(3) {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .story-photo .conteiner > div div:nth-of-type(4) {
    grid-row: 4/5;
    grid-column: -1/-2;
  }
  .contact-form .conteiner .contact-form__form {
    margin-left: 10px;
    margin-right: 10px;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }
  .contact-form .conteiner .contact-form__row {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .contact-form .conteiner .contact-form__row .contact-form__row--full {
    flex-direction: column;
    margin-top: 25px;
  }
  .contact-form .conteiner .contact-form__row .contact-form__group {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */