button {
    padding: 13px 50px 13px 55px;
    color: $white;
    background-color: $orange;
    border: 0px solid;
    text-align: left;
    
}

button:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
button:active{
    opacity: 0.8; 
}
.masterclass>.conteiner>.text>.button>button{
    margin-top: 56px;
    margin-bottom: 177px;
    padding: 13px 71px 13px 72px;
    margin-right: 28px;
}
.sekr>.text>.button>button{
    
    padding: 13px 40px 13px 39px;
    margin-top: 70px;
}
.banner-contact>.conteiner>.text>a button{
    padding: 13px 44px 13px 45px;
    letter-spacing: 0.3px;
}
.banner-collection>.conteiner>.text>a button{
    padding: 13px 74px 13px 75px;
}
.contact-form>.conteiner>form>a button{
    padding: 13px 62px 13px 62px;
  margin-bottom: 118px;
  margin-top: 34px;
}
.error>.conteiner>.text>.button>button{
    margin-top: 50px;
}