.servis{
    margin:10px;
    @include flex;
    .conteiner{
        .services{
            width: inherit;
            display: grid;
            grid-template-columns: 9fr 9fr 19fr;
            grid-template-rows: repeat(2, 400px);
            gap:10px;
       
            a{
                background-position: top;
                background-repeat: no-repeat; 
                
                div {
                    padding:20px;
                    height: 100%;
                }
                p{
                    color:$white;
                }

        
            }
            

            a:nth-of-type(1){
                grid-row: 1/ 2;
                grid-column: 1/3;
                background-image: url(../img/card_1.png);
            }
            a:nth-of-type(2){
                grid-row: -1/ -2;
                grid-column: 1/2;
                background-image: url(../img/card_2.png);
            }
            a:nth-of-type(3){
                grid-row: -1/ -2;
                grid-column: 2/3;
                background-image: url(../img/card_3.png);
            }
            a:nth-of-type(4){
                grid-row: 1/ -1;
                grid-column: -2/-1;
                background-image: url(../img/card_4.png);
            }
        
        .card__nazv{
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 5px;
        }
        .card__inf{
            font-size: 14px;
            text-decoration: underline $white;
        }
        .card:hover{
            p{
                color:$black;
                text-decoration: underline $black;
            }
            
        }

    }
        
    }
}

