$green: #283618;
$white: #ffffff;
$black:#000000;
$background:#D9D9D9;
$gray:#575757;
$orange: #DDA15E;
$light_grey:#ccc;

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
