.comments{
    @include flex;

    .conteiner>div{
        margin: 167px 165px;
        display:grid;
        grid-template-columns: repeat(3,minmax(auto,350px));
        gap:70px;
        .comment{
            height: 100%;
            display: grid;
            grid-template-rows: 30px 1fr 30px;
            border: solid 1px $green;
            padding: 15px 30px 20px;

            &>p,div{
                
                width: 100%;
            }
            .comment__name{
                text-align: center;
                font-size: 20px;
            }
            .comment__text{
                text-align: left;
                line-height: 30px;
                padding:0;
                max-height: 110px;
            }
            .comment__star{
                padding: 0 0;
            }
        }
    }
}