.craft{
    
    @include flex;

    .conteiner{
        flex-direction: column;
        margin-bottom:40px;

        
        .one,.two{
           @include flex;
           align-items: start;
           width: 100%;
           
        
            &__text{
                width: 50%;
                @include flex;
                flex-direction: column;
                align-items: center;
                
               
                h2{
                    line-height: 35px;
                }
                


                .list-craft{
                    max-width:600px;
                    line-height: 30px;
                }
                
                
                hr{
                    width: 70%;
                    margin: 40px auto;
                }
            }

            &__photo{
                width: 50%;
                display: grid;                          
                grid-template-columns: repeat(2, 1fr);   
                grid-template-rows: repeat(4, 170px) ;          
                gap: 10px;   
                margin: 10px;
                
                &>div {
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 100%; 
                }
                
            }
            .one__photo{
                &> div:nth-of-type(1){
                    grid-column: 1 / -1;
                    grid-row: 1 / 3;
                    background-image: url(../img/ing_1_1.png);
                }
                &>div:nth-of-type(2){
                    grid-row: -3 / -1;
                    background-image: url(../img/ing_1_2.png);
                }
                &>div:nth-of-type(3){
                    background-image: url(../img/ing_1_3.png);
                }
                &>div:nth-of-type(4){
                    background-image: url(../img/ing_1_4.png);
                }
            }
            .two__photo{
                margin-right: 10px;
                margin-top:0px;
                padding-bottom: 0px;
                &>div:nth-of-type(1){
                    grid-column: 1 / -1;
                    grid-row: -1 / -3;
                    background-image: url(../img/ing_2_1.png);
                }
                &>div:nth-of-type(2){
                    grid-row: 1 / 3;
                    background-image: url(../img/ing_2_2.png);
                }
                &>div:nth-of-type(3){
                    background-image: url(../img/ing_2_3.png);
                }
                &>div:nth-of-type(4){
                    background-image: url(../img/ing_2_4.png);
                }
            }
        
        }
        
    }

        
}
.one__text{
    padding-top: 120px;
    margin-top: 20px;
    margin-left: 15px;

    
   ol{
    padding-left: 60px;
}
   }
.two__text{
    padding-top: 50px;
    padding-left: 25px;
    letter-spacing: 0.3px;
    line-height: 25px;
}
.name-two{
    font-weight: 400; 
    text-align: center;
    font-size: 31px;
}