.error{
    width: 100%;
    height: 500px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/error.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:$white;
    h1{
        color: $white;
    }

}
 