
.contact-form {
  @include flex;
  margin: 90px 0 0;
  

.conteiner {
  .contact-form__form{
      margin-left:260px ;
      margin-right:260px;
      width: inherit;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
    }
    
    .contact-form__row {
      display: flex;
      gap: 100px;
      
      
    }
    .contact-form__row:nth-of-type(2) {
      margin-top: 18px;
    }
   
    .contact-form__row--full {
      flex-direction: column;
      margin-top:25px;
    }
    
    .contact-form__group {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    
    .contact-form__group label {
     
      font-size: 15px;
      color: $gray;
      margin-bottom: 5px;
      margin-top: 5px;
    }
    
    .contact-form__group span {
     
      color: $orange;
    }
    
    .contact-form__group input,
    .contact-form__group textarea {
      margin-top:6px;
      border: none;
      border-bottom: 1px solid $light_grey;
      padding: 6px 0;
      font-size: 15px;
      outline: none;
      background: transparent;
      resize: none;
    }
    .contact-form__group textarea {
     margin-top:20px;
    }
    
    
    }
    
    
}

