.masterclass-photo{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 3fr;
        grid-template-rows: repeat(2, 170px);
        gap:10px;
        width: 99%;

        div {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
        }

        div:nth-of-type(1){
            grid-row: 1/ -1;
            background-image: url(../img/masterclass_1.png);
        }
        div:nth-of-type(2){
            grid-row: 1/ 2;
            grid-column: 2 / 4;
            background-image: url(../img/masterclass_2.png);
        }
        div:nth-of-type(3){
            grid-row: -2/ -1;
            background-image: url(../img/masterclass_3.png);
        }
        div:nth-of-type(4){
            grid-row: -2/ -1;
            background-image: url(../img/masterclass_4.png);
        }
        div:nth-of-type(5){
            grid-row: 1/ -1;
            background-image: url(../img/masterclass_5.png);
        }
    }
    