.photo{
    @include flex;
    .conteiner>div{
        width: 100%;
        height: 300px;
        background-size: auto;
        background-position: left;
        background-repeat: no-repeat;
        background-image: url(../img/img_up.png),
         url(../img/img_down.png);
        
    }
}