.secrets{
    @include flex;
    margin-top: 2px;;
    

    .conteiner{
       
        .sekr{
             display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            height: 100%;
    
        
        
            .text{

                @include flex;
                flex-direction: column;
               justify-content: start;
                margin-top: 143px;
        
                p{
                    letter-spacing: 0.5px;
                    max-width:600px;
                   

                }
                p:first-of-type{
                    margin: 0 auto 15px;
                }
                
                hr{
                    width: 80%;
                    margin: 15px auto 50px;
                }

                .btn{
                    margin-top:70px;
                   
                }
            }

            .photo{
                margin: auto 0 auto 10px;
                height: 800px;
                display: grid;
                grid-template-rows: 7fr 4fr;
                grid-template-columns: 1fr;
                gap:10px;
            
                div{
                   letter-spacing: 0.46px;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 100%;
                    
                    &:nth-of-type(1){
                        background-image: url(../img/secrets_1.png);
                    }
                    &:nth-of-type(2){
                        margin-bottom: 5px;
                        background-image: url(../img/secrets_2.png);
                    }
                }
            }
        }
    }
}
