.story-photo{
    @include flex;
   
    .conteiner>div{
       
        width: inherit;
        display: grid;
        grid-template-columns: 0px 11fr 23fr 12fr 0px;
        grid-template-rows: repeat(2, 170px);
        gap:10px;

        div {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
        }

        div:nth-of-type(1){
            grid-row: 1/ -1;
            grid-column: 2/3;
            background-image: url(../img/story_1.png);
        }
        div:nth-of-type(2){
            grid-row: 1 / -1;
            grid-column: 3/4;
            background-image: url(../img/story_2.png);
        }
        div:nth-of-type(3){
            grid-column: 4/5;
            background-image: url(../img/story_3.png);
        }
        div:nth-of-type(4){
            grid-column: 4/5;
            background-image: url(../img/story_4.png);
        }

    }
}