@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+IN:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing:2%;
    line-height:auto;
    text-decoration: none;
    
}
a{
    text-decoration: none;
    color:$gray;
}
a:hover{
    color:$orange;
}
.where{
    color:$gray;
    font-size:15px;
}
h1{
    font-size: 48px;
    font-weight: 700; 
    color:$black;
    text-align: center;
}
h2{
    line-height:50px;
}
.text__for-name{
    text-align: center;
}
.text__name-two{
    font-size: 32px;
    font-weight: 400; 
    text-align: center;
}
h3{
    color:$black;
    font-size: 16px;
}
.info p{
    font-size: 15px;
    text-align: center;
    color:$black;
    line-height: 30px;
}
button{
    font-size: 20px;
}
footer{
    font-size: 14px;
    line-height: 20px;
}
body{
    margin:0;
}
img { max-width: 100% }