@import 'color';
@import 'text';
@import 'conteiner';
@import 'header';
@import 'footer';
@import 'section_text';
@import 'advantages';
@import 'craft';
@import '_comments';
@import '_masterclass_photo';
@import '_button';
@import '_banner';
@import '_cards';
@import '_photo_home';
@import '_secrets';
@import '_kart';
@import '_form';
@import '_story_photo';
@import '_error';
@import '_adaptiv';